.footer {
  background-color: #f9f9f9;
  margin-top: 16rem;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

.footerInfo {
  width: 100%;
}

.brand h2 {
  font-size: 2rem;
}

.links {
  display: flex;
}

.links h3 {
  margin-bottom: 1rem;
}

.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.nav li {
  margin-bottom: 0.5rem;
}

.contact {
  position: absolute;
  background-color: #d3d3d3;
  border-radius: 10px;
  padding: 1.5rem;
  z-index: 10; /* Upewnij się, że kontakt będzie nad stopką */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Dodaj cień dla efektu uniesienia */
  transition: transform 0.3s ease; /* Efekt płynnego przesuwania */
  top: -60px;
  right: 0;
}

.contact h3 {
  margin-bottom: 0.5rem;
}

.contact p {
  margin: 0.5rem 0;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.socials a {
  color: #000;
  text-decoration: none;
}

.socials a:hover {
  color: #0070f3;
}

.copyright {
  margin-top: 1rem;
  text-align: center;
  padding: 1rem 0;
  font-size: 0.875rem;
  background-color: #f9f9f9;
}

@media (max-width: 850px) {
  .contact {
    position: unset;
    background-color: #d3d3d3;
    border-radius: 10px;
    padding: 1.5rem;
    text-align: center;
  }

  .nav {
    gap: 1rem;
  }

  .footer {
    margin-top: 6rem;
  }
}
