/* General project section styling */
.projects {
  margin-top: 3rem;
  margin-bottom: 6rem;
}

.projectContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.dotsContainer {
  margin-top: 1rem;
}
.carouselControls {
  display: flex;
  gap: 0.75rem;
  margin-bottom: 1rem;
}

.carouselBtn {
  background-color: var(--background-color-secondary);
  color: var(--secondary-color);
  border: none;
  font-size: 1.5rem;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-radius: 9px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.carouselBtn:hover {
  background-color: #bfbfbf;
  transform: scale(1.05);
}

.projectContentWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.projectContent {
  display: flex;
  gap: 3rem;
  justify-content: center;
  width: 100%;
  opacity: 1;
  transform: translateX(0);
}

/* Enter transition */
.enter {
  opacity: 0;
  transform: translateX(20px);
}

.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* Exit transition */
.exit {
  opacity: 1;
  transform: translateX(0);
}

.exitActive {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.screenshot {
  width: 50%;
  flex: 1;
}

.screenshot img {
  width: 100%;
  height: auto;
  max-height: 400px;
  border-radius: var(--border-radius-main);
  object-fit: cover;
  object-position: top;
}

.projectDetails {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.projectDetails h3 {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.projectDetails p {
  margin-bottom: 1.125rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.25rem;
}

.btn {
  padding: 0.5rem 1.125rem;
  background-color: var(--background-color-secondary);
  border-radius: 25px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.btn:hover {
  color: white;
}

.techUsed p {
  margin-bottom: 0.75rem;
}

.techStack {
  display: flex;
  gap: 1rem;
}

.techBadge {
  background-color: #f0f0f0;
  border-radius: 25px;
  padding: 5px 15px;
}

/* Dots for indicating current slide */
.dotsContainer {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 1rem;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #ccc;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
}

.activeDot {
  background-color: #000;
}

@media (max-width: 850px) {
  .projectContent {
    flex-direction: column;
    gap: 0.5rem;
  }

  .screenshot {
    width: 100%;
    flex: 1;
  }

  .screenshot img {
    max-height: 200px;
  }

  .projectDetails {
    width: 100%;
  }

  .carouselBtn {
    font-size: 1.25rem;
  }
}
