@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-light-800;
  }
  h1 {
    @apply font-bold text-4xl;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.bg-gradient-animated {
  background: linear-gradient(320deg, #ffffff, #f5f5f7, #959595, #d4d4d4);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}
