/* Ogólne style nagłówka */

.header {
  background-color: #fff;
  padding: 1.125rem;
  position: sticky;
  top: 0;
  z-index: 100;
  overflow-x: hidden;
  transition: background-color 0.3s, padding 0.3s;
}

.header::after {
  backdrop-filter: blur(10px);
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -50;
}

.headerScrolled {
  background-color: rgba(248, 248, 248, 0.7);
  padding: 0.75rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

/* Nawigacja - desktop */
.nav {
  display: flex;
  align-items: center;
}

.navList {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navItem:not(:first-child) {
  margin-left: 20px;
}

.navLink {
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
  color: #000;
}

.ctaButton {
  padding: 10px 20px;
  background: #f0f0f0;
  border-radius: 25px;
  font-weight: bold;
  background: linear-gradient(
      to left,
      #f0f0f0 50%,
      var(--background-color-secondary) 50%
    )
    right;
  background-size: 200%;
  transition: 0.5s ease-out;
}

.ctaButton:hover {
  background-position: left;
  color: var(--secondary-color);
}

/* Style dla urządzeń mobilnych */
@media (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100vw; /* Make the menu occupy the full width */
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(100%);
  }

  .navMobileOpen {
    opacity: 1;
    visibility: visible;
    transform: translateX(0); /* Slide the menu in from the right */
  }

  .navList {
    flex-direction: column;
    align-items: center;
  }

  .navItem {
    margin: 1.5rem 0;
  }

  .navLink {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #000;
  }

  .ctaButton {
    padding: 12px 24px;
    font-size: 1.25rem;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
  }

  .bar {
    width: 100%;
    height: 3px;
    background-color: #000;
    transition: 0.3s ease;
  }

  .mobileMenuHeader {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .closeButton {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #000;
  }
}

/* Hamburger znika przy otwartym menu */
.navMobileOpen .hamburger {
  display: none;
}

/* Styl zamknięcia mobilnego menu */
.closeButton {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: #000;
}

/* Ukryj przycisk zamknięcia menu mobilnego w wersji desktopowej */
@media (min-width: 769px) {
  .mobileMenuHeader {
    display: none;
  }

  .hamburger {
    display: none;
  }
}
